<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15" alt="MDB Logo"
          loading="lazy" />
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="link-secondary me-3" (click)="showCart()">
        <i class="fa fa-shopping-cart"></i>
      </a>
      <div [class]="isCardVisible ? 'dropdown-menu dropdown-menu-end show':'dropdown-menu dropdown-menu-end'" style="position: absolute;
            right: 0;top:60px" aria-labelledby="navbarDropdownMenuAvatar">
        <div class="row">
          <div class="col-8">
            <h6>Cart Items</h6>
          </div>
          <div class="col-4 text-end">
            <i (click)="showCart()" class="fa fa-close p-2"></i>
          </div>
        </div>


        <table class="table table-sm">
          <tbody>
            <tr *ngFor="let item of cartItem; let i= index">
              <td>
                <div class="rounded"
                  style="background-image: url({{item.imageUrl}}); width: 60px; height: 60px; background-size: cover;">
                </div>
              </td>
              <td class="align-middle text-left">{{item.productName}}</td>
              <!-- <td class="align-middle text-center">1 pieces</td> -->
              <td class="align-middle text-right">${{item.price}}</td>
              <td class="align-middle text-center">
                <a (click)="removeProduct(i)" data-toggle="modal" data-title="Delete your product ?">
                  <i class="fa fa-trash"></i>
                </a>
              </td>
            </tr>


            <tr>
              <td colspan="4" class="align-middle text-right">Quantity</td>
              <td class="align-middle text-right">55</td>
            </tr>
            <tr>
              <td colspan="4" class="align-middle text-right">Total</td>
              <td class="align-middle text-right">3600</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
